body{
  background-color: white;
  color: black;
}

#fieldMap{
  width: 648px;
  height: 316px;
}

h3 { 
    display: inline;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
}

.increment{
  height: 50px;
  width: 200px;
}
.decrement{
  height: 30px;
  width: 10px;
}
.dark_mode{
  background-color: black;
  color: lightgray;
}